<a href="https://colab.research.google.com/github/ayushichawade/ML-temperature-/blob/main/assigment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
%matplotlib inline
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

In [8]:
df = pd.read_csv("Heart.csv")
df.head()

   Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0           1   63    1       typical  ...      3  0.0       fixed   No
1           2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2           3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3           4   37    1    nonanginal  ...      3  0.0      normal   No
4           5   41    0    nontypical  ...      1  0.0      normal   No

[5 rows x 15 columns]

In [9]:
shape = df.shape

In [10]:
print("Shape ={}\nShape[0] x Shape[1] = {}".
format(shape, shape[0]*shape[1]))

Shape =(303, 15)
Shape[0] x Shape[1] = 4545

In [11]:
 df.isnull()

     Unnamed: 0    Age    Sex  ChestPain  ...  Slope     Ca   Thal    AHD
0         False  False  False      False  ...  False  False  False  False
1         False  False  False      False  ...  False  False  False  False
2         False  False  False      False  ...  False  False  False  False
3         False  False  False      False  ...  False  False  False  False
4         False  False  False      False  ...  False  False  False  False
..          ...    ...    ...        ...  ...    ...    ...    ...    ...
298       False  False  False      False  ...  False  False  False  False
299       False  False  False      False  ...  False  False  False  False
300       False  False  False      False  ...  False  False  False  False
301       False  False  False      False  ...  False  False  False  False
302       False  False  False      False  ...  False   True  False  False

[303 rows x 15 columns]

In [12]:
df.notnull()

     Unnamed: 0   Age   Sex  ChestPain  ...  Slope     Ca  Thal   AHD
0          True  True  True       True  ...   True   True  True  True
1          True  True  True       True  ...   True   True  True  True
2          True  True  True       True  ...   True   True  True  True
3          True  True  True       True  ...   True   True  True  True
4          True  True  True       True  ...   True   True  True  True
..          ...   ...   ...        ...  ...    ...    ...   ...   ...
298        True  True  True       True  ...   True   True  True  True
299        True  True  True       True  ...   True   True  True  True
300        True  True  True       True  ...   True   True  True  True
301        True  True  True       True  ...   True   True  True  True
302        True  True  True       True  ...   True  False  True  True

[303 rows x 15 columns]

In [14]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [15]:
(df == 0).sum().sum()

985

In [16]:
 df['Age'].mean()

54.43894389438944

In [17]:
 df = df[["Age","Sex","ChestPain","Chol"]]

In [18]:
 print(df)

     Age  Sex     ChestPain  Chol
0     63    1       typical   233
1     67    1  asymptomatic   286
2     67    1  asymptomatic   229
3     37    1    nonanginal   250
4     41    0    nontypical   204
..   ...  ...           ...   ...
298   45    1       typical   264
299   68    1  asymptomatic   193
300   57    1  asymptomatic   131
301   57    0    nontypical   236
302   38    1    nonanginal   175

[303 rows x 4 columns]